<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITimerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52478/TimerService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITimerService" contract="TimerService.ITimerService"
                name="BasicHttpBinding_ITimerService" />
        </client>
    </system.serviceModel>
</configuration>