<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="database" xsi:type="Database" keepConnection="false" useTransactions="true" dbProvider="System.Data.EntityClient"
        connectionString="data source=keaprojects.database.windows.net;initial catalog=SCBDKTimer;persist security info=True;user id=stoyan;password=keaprojects123#;"
        commandText="insert into Logging(log_date,log_level,log_logger,log_message,log_machine_name, log_user_name, log_exception, log_stacktrace) values(@time_stamp, @level, @logger, @message,@machinename, @user_name, @log_exception, @stacktrace);">
      <parameter name="@time_stamp" layout="${longdate}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@user_name" layout="${windows-identity:domain=true}"/>
      
      <parameter name="@log_exception" layout="${exception}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="database"/>
    <logger name="*" minlevel="Info" writeTo="database"/>
    <logger name="*" minlevel="Error" writeTo="database"/>
    <logger name="*" minlevel="Trace" writeTo="database"/>
  </rules>
</nlog>
